{% extends '@EasyAdmin/page/content.html.twig' %}

{% block page_title %}
    Zudle Dashboard
{% endblock %}

{% block main %}
    <p>
        Select a option on the left to get started.
    </p>
    <hr class='pb-4' />
{% endblock %}
