{% set evaluationClass = 'p-2 m-1 w-16 h-16 flex items-center justify-center border border-black font-bold rounded' %}

{% if letterEvaluation.evaluation == constant('App\\Enum\\LetterEvaluationEnum::CORRECT') %}
    {% set evaluationClass = evaluationClass ~ ' bg-correct text-white' %}
{% elseif letterEvaluation.evaluation == constant('App\\Enum\\LetterEvaluationEnum::PRESENT') %}
    {% set evaluationClass = evaluationClass ~ ' bg-present text-white' %}
{% elseif letterEvaluation.evaluation == constant('App\\Enum\\LetterEvaluationEnum::ABSENT') %}
    {% set evaluationClass = evaluationClass ~ ' bg-absent text-white' %}
{% endif %}
<div class="{{ evaluationClass }}">
    {{ letterEvaluation.letter }}
</div>
