{% extends 'base.html.twig' %}

{% block title %}Dashboard{% endblock %}

{% set currentMonth = "now"|date("F") %}
{% set currentYear = "now"|date("Y") %}

{% block body %}
    <div class="container mx-auto p-4">
        {% if is_granted('IS_AUTHENTICATED_FULLY') %}
            <h1 class="text-xl font-bold mb-4 text-zu-black dark:text-zu-white">{{ currentMonth }}, {{ currentYear }}</h1>
            {# TODO: convert this to a twig component #}
            {{ include('dashboard/calendar/_calendar.html.twig') }}
        {% endif %}
    </div>
{% endblock %}
